<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>

      <div class="row">
        <div class="col-xs-12">
          <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
            <app-odd *ngFor="let number of oddNumbers" [number]="number"></app-odd>
        </div>
        <div class="col-xs-12 col-sm-6">
            <app-even *ngFor="let number of evenNumbers" [number]="number"></app-even>
        </div>
      </div>
    </div>
  </div>
</div>
